In [1]:
# Package Imports
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy as sp
import sklearn
from scipy.sparse import coo_matrix
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity

# Load Data and Create Sparse Matrix

In [2]:
# Read books data
books = pd.read_csv('red_books.csv')
books

,Unnamed: 0,book_id,title,avg_rating,description
0,0,12182387,"The Passion (Dark Visions, #3)",4.04,This is the final tale in the bestselling auth...
1,1,20135365,Hope's Daughter,3.80,Life should be simple for Cassie.\nFor the sma...
2,2,21401181,"Half Bad (Half Life, #1)",3.80,Wanted by no one.\nHunted by everyone.\nSixtee...
3,3,10099492,Twelfth Grade Kills (The Chronicles of Vladimi...,4.35,It all comes down to this.\nVlad's running out...
4,4,22642971,The Body Electric,3.71,The future world is at peace.\nElla Shepherd h...
...,...,...,...,...,...
92777,93393,18221503,"Ãlmem Gerekirse (Revenants, #3)",4.21,Sevdigini Kurtarmak Icin Ne Kadarina Hazirsin?...
92778,93394,8987191,"The Mockingbirds (The Mockingbirds, #1)",3.79,Some schools have honor codes.\nOthers have ha...
92779,93395,1885730,Joel and Cat Set the Story Straight,3.78,NaN
92780,93396,23636536,Another Day,3.67,The eagerly anticipated companion to David Lev...
92781,93397,17805813,"Ondine (Ondine Quartet, #0.5)",4.02,"""I shouldn't get involved.""\nRebellious and he..."

In [3]:
# Read sparse matrix encoding into df
sparse_df = pd.read_csv('users_sparse.csv')
sparse_df

          r_index  c_index  data
0               0    25132     3
1               0    77220     2
2               0    32990     5
3               0    74424     5
4               0    20215     5
...           ...      ...   ...
14731903   567805      148     5
14731904   567805    89946     4
14731905   567805    76582     4
14731906   567805    77720     5
14731907   567805    44999     4

[14731908 rows x 3 columns]

In [4]:
# Create Scipy sparse matrix and convert to compressed sparse row format for operations
row = np.array(sparse_df.r_index)
col = np.array(sparse_df.c_index)
dat = np.array(sparse_df.data)
users = coo_matrix((dat,(row,col)),shape=(np.unique(row).size,np.unique(col).size))
users = users.tocsr()

# Determining k

In [5]:
n_users = np.unique(row).size
n_users

567806

In [6]:
# From some source somewhere
#Ummm its from here: https://medium.com/@rangavamsi5/k-nearest-neighbors-algorithm-in-python-64f38792193
k = (math.sqrt(n_users))/2
k = round(k)
k

377

# KNN for Cosine Similarities (don't use)

In [17]:
# Set up KNN
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=k)
knn.fit(users)

# Pick a user id from 0 to 567805
user_id = 478

# Get k neighbors for user_id
nbrs = knn.kneighbors(users.getrow(user_id))

# Gives user index and distance (angle between vectors, 0 means cosine simlarity == 1)
nbrs

(array([[0.        , 0.18758896, 0.1918774 , 0.20668076, 0.22179574,
         0.23068979, 0.25324948, 0.26470426, 0.26800421, 0.27870049,
         0.29277368, 0.29386828, 0.29466185, 0.29474137, 0.30592922,
         0.30714825, 0.30813461, 0.30952902, 0.30952902, 0.31204609,
         0.31224229, 0.31268863, 0.31305411, 0.31521318, 0.31522938,
         0.31586439, 0.31666001, 0.31732506, 0.317662  , 0.3181459 ,
         0.31908727, 0.31908727, 0.31996388, 0.31996388, 0.32104126,
         0.3217587 , 0.32188791, 0.32217538, 0.32241643, 0.32241643,
         0.32241643, 0.32241643, 0.32241643, 0.32241643, 0.32241643,
         0.32257648, 0.3227403 , 0.3227403 , 0.3227403 , 0.3227403 ,
         0.32313696, 0.32507363, 0.32532872, 0.32565019, 0.32565019,
         0.32565019, 0.32565019, 0.32590615, 0.32590615, 0.32590615,
         0.32590615, 0.32590615, 0.32590615, 0.32590615, 0.32590615,
         0.32590615, 0.32590615, 0.32590615, 0.32590615, 0.32590615,
         0.32590615, 0.32590615, 0.32590615, 0.32590615, 0.32643648,
         0.32643648, 0.32643648, 0.3266114 , 0.3266114 , 0.3266114 ,
         0.3266114 , 0.3266114 , 0.3266114 , 0.3266114 , 0.32682751,
         0.32707342, 0.32707342, 0.3274936 , 0.32772961, 0.32772961,
         0.32889761, 0.32889761, 0.32889761, 0.32889761, 0.32889761,
         0.32889761, 0.32914355, 0.32914355, 0.32914355, 0.32914355,
         0.33028112, 0.33056877, 0.33102023, 0.33102023, 0.33102023,
         0.33121304, 0.33121304, 0.33151192, 0.33151192, 0.33151522,
         0.33169466, 0.33169839, 0.33169839, 0.33323271, 0.33330422,
         0.33440798, 0.33440798, 0.33440798, 0.33483422, 0.33483422,
         0.33492484, 0.33492484, 0.33564252, 0.33592443, 0.33619827,
         0.33622931, 0.33641575, 0.33641575, 0.33641575, 0.33730308,
         0.33796156, 0.33796156, 0.33796156, 0.33823383, 0.33823383,
         0.33823383, 0.33823383, 0.33828886, 0.33828886, 0.3389966 ,
         0.3389966 , 0.33912368, 0.33952561, 0.33999097, 0.33999097,
         0.34014119, 0.3402507 , 0.3402507 , 0.3402507 , 0.3402507 ,
         0.3402507 , 0.34056029, 0.34066929, 0.34094046, 0.34094046,
         0.34151947, 0.34168403, 0.34323828, 0.34365159, 0.34388523,
         0.34596006, 0.34596422, 0.34596422, 0.34639592, 0.3466244 ,
         0.34677311, 0.34795918, 0.3486555 , 0.3486555 , 0.34907699,
         0.34907699, 0.34982666, 0.34982666, 0.35007117, 0.35014496,
         0.35014496, 0.3507891 , 0.35094505, 0.35113884, 0.35155172,
         0.35247609, 0.35247609, 0.35271259, 0.35271259, 0.35411828,
         0.35411828, 0.35433519, 0.35433519, 0.35433519, 0.35457838,
         0.35508552, 0.35508552, 0.35563417, 0.3559956 , 0.35674705,
         0.35674705, 0.35754442, 0.35761645, 0.35834917, 0.35862286,
         0.35877197, 0.35884488, 0.35898403, 0.35986516, 0.35989408,
         0.36029894, 0.36066777, 0.36074669, 0.36122566, 0.36160579,
         0.36160579, 0.36286423, 0.36335366, 0.36366232, 0.36414414,
         0.36445823, 0.36484505, 0.36555873, 0.36555873, 0.36705227,
         0.36787354, 0.3681786 , 0.3681786 , 0.36882626, 0.36882626,
         0.36882626, 0.36882626, 0.36882626, 0.36882626, 0.36943914,
         0.36943914, 0.36952731, 0.3701629 , 0.370333  , 0.37045293,
         0.37111599, 0.37111599, 0.37180954, 0.37216749, 0.37231214,
         0.37272256, 0.37276829, 0.37348661, 0.37348925, 0.37411957,
         0.37411957, 0.37411957, 0.37411957, 0.3748844 , 0.3748844 ,
         0.3748844 , 0.3750093 , 0.37520335, 0.37520335, 0.37572625,
         0.37612635, 0.37656326, 0.37656608, 0.3765985 , 0.37680002,
         0.37699104, 0.37699104, 0.37712336, 0.37729878, 0.37735849,
         0.37837705, 0.37887938, 0.37899576, 0.37899576, 0.37899576,
         0.37899576, 0.37944631, 0.37977669, 0.37988992, 0.37997915,
         0.38041167, 0.38052087, 0.38052087, 0.38052087, 0.38052087,
         0.38052087, 0.38052087, 0.38052087, 0.38052087, 0.38052087,
         0.38052633, 0.38060691, 0.38078665, 0.38084872, 0.38116713,
         0.38123791, 0.38141976, 0.38148287, 0.38162314, 0.38162314,
         0.38187746, 0.38195408, 0.38222614, 0.38255269, 0.38268061,
         0.3828856 , 0.3828856 , 0.38315063, 0.3831821 , 0.3831821 ,
         0.38323286, 0.38413178, 0.38413178, 0.38450156, 0.38485229,
         0.38485229, 0.38485229, 0.38500722, 0.38543901, 0.38555968,
         0.38565566, 0.38633791, 0.38633791, 0.38633791, 0.38633791,
         0.38645615, 0.38650319, 0.38666248, 0.38666248, 0.38666248,
         0.38722868, 0.38884617, 0.38922811, 0.3892685 , 0.38935028,
         0.38935028, 0.38939121, 0.39007166, 0.3907609 , 0.3907609 ,
         0.39084552, 0.39116166, 0.39116166, 0.39116166, 0.39154353,
         0.39168893, 0.39223838, 0.39231548, 0.39238082, 0.39238082,
         0.39249683, 0.39249683, 0.3925286 , 0.39311892, 0.39311892,
         0.39311892, 0.39411872, 0.39411872, 0.39432919, 0.39447667,
         0.39447667, 0.39447667, 0.39474424, 0.39476901, 0.39476901,
         0.39512943, 0.39536668, 0.39561352, 0.39570746, 0.39571251,
         0.39571251, 0.39571251, 0.39571251, 0.39593694, 0.39593694,
         0.39620947, 0.39620947, 0.3963275 , 0.39667216, 0.39667216,
         0.39667216, 0.39707213]]),
 array([[   478, 359590, 248192, 360787,   3311, 142860,   2843, 109902,
         171336, 300336, 194021, 113612, 243963,  14879, 410263, 287722,
         368032, 128467,  47345, 232061, 217800, 477131, 320578, 193054,
         341707,  50912, 367292, 359228, 155916, 213501,  48882, 122361,
         323859, 207408, 403700,  12532, 329779, 141734,  89285, 382755,
         119696, 399286, 144318,  20652, 244213, 282351, 447572,  49634,
          27823,   1260, 367650, 144501, 292242, 389612, 413742, 354871,
         273388, 502168, 531284, 362531, 401657, 387767,  22939, 273052,
         380633, 384199,   1494, 449459, 502686, 353074, 401147, 382460,
         409353, 508803, 366097, 305262, 358166, 214185, 306862, 200778,
         447027, 134948, 244268, 304608, 365498, 298402, 116327, 297096,
         468517,  29221, 113548, 534545, 203312, 360525, 243740, 455286,
         306902, 469315, 504440, 118089, 201676, 200670, 239143, 104479,
         362293,  68919, 255654, 288892, 560295, 231236,  43896, 264021,
         322673, 324703, 312539, 560479,   8739,  68426, 108529,  95576,
         440911, 264535, 176624,  18850, 385856, 528685, 371038,  29394,
          35832,  67857, 336870, 320001, 366154, 193518, 272720, 225895,
         524040, 549756,   1532, 319596, 389116, 273714, 200204,  26081,
         348812,  41738,  15471,  89309, 557157, 334665, 552165, 329769,
         335612,  63444, 373084,  82772, 391973,  22756, 345761,  46257,
         482853, 259197, 340904, 192994,  83907, 420957,  78859, 317886,
         170432, 108725, 325672, 339627, 373425, 333363, 284752, 307168,
         289872,  75457,  13398, 201726, 251777, 179540, 275499, 209883,
         111126, 256132, 128185,  68643, 362320, 292702,  13976,  35737,
         125962,  21205, 352171, 292618,  15936, 305197, 415259, 164847,
         306955, 155529, 208031, 361594, 113777, 291909, 141226, 250491,
          79673, 142020, 436746, 126478,  35487, 293829,  70893, 412548,
          22229,  56594, 495976, 107118, 259155, 121398, 319025, 271323,
         205481, 404965, 355716,  20698, 198199, 132699,  57829, 524066,
         291698, 190340,  88731, 370853, 271962, 201898, 152969,   9995,
         362059,  72085,  67679, 332425, 149425, 351142, 552486, 441777,
         535292, 302916, 508632, 292584, 190157, 180582,  34805,  86155,
         298604,  27651, 355420, 188114, 147910, 469696, 433383,   2941,
         276980, 286571, 183859, 205456,  88489, 346698,  15939, 139390,
         119684,  34967,  40571,  60770, 170449,   1422, 185230, 105774,
          46312, 423359, 408342, 364125, 354906,  24005, 374560, 230554,
         397913, 105030, 239893,  99276, 359573,  89889,  69174, 242676,
         136937,  81838, 215924, 349245, 351979, 244703, 350842,  42731,
         135637,  52683, 338534,    366,  54407, 253047, 207475, 160708,
         133083, 213282, 126393, 161238, 310252, 121925, 374619, 244808,
          83144,  55658, 360008, 364962, 548596, 156346,  33794,   7800,
         113403, 135333,  91344, 459931, 161412, 191687,  60744, 399570,
         536433, 556631,  96518, 231701,   4595, 278253,  79059, 315435,
          89715, 224292, 307529, 296077, 383570, 243195, 551826, 273593,
         126179, 176591, 351596,  89782,  58017, 336911,  95316,  56266,
         143626, 359058, 404642, 154018, 344962, 217128,  74671, 332967,
          41020,  36950, 273474,  90746, 433390, 560019, 270003, 105979,
         429175]], dtype=int64))

# With Cosine Similarity Function Instead

In [20]:
# Pick a user id from 0 to 567805
#This will have to be the value passed from the user in the GUI?
user_id = 478

# Calculate pairwise cosine similarities between user and all other users
similarities = cosine_similarity(users.getrow(user_id),users)

# Get top k similar users that are not equal to 1
sim_index = pd.DataFrame({'sim':similarities.flatten()})
sim_index = sim_index.sort_values(['sim'])
sim_index = sim_index[sim_index['sim'] != 1]
nbrs = sim_index.iloc[-k:]
nbrs = nbrs.reset_index()
a = nbrs.sort_values(by ='index', ascending = 1)
a

      index       sim
70      366  0.615868
330    1260  0.677260
98     1422  0.619479
310    1494  0.674094
239    1532  0.661711
..      ...       ...
39   556631  0.608838
229  557157  0.659749
2    560019  0.603328
270  560295  0.668488
262  560479  0.665592

[377 rows x 2 columns]

# Weighted Adjusted Average

In [9]:
# Books read by the user_id
user_books = np.array(sparse_df[sparse_df['r_index']==user_id].c_index)

# Loop through each neighbor and find set difference between it and the user. Union the set differences
set_diff = np.empty(0,dtype=int)
for ind in nbrs['index']:
    nbr_books = np.array(sparse_df[sparse_df['r_index']==ind].c_index)
    set_diff = np.union1d(set_diff,np.setdiff1d(nbr_books,user_books))

In [10]:
# Get rows from users cooresponding to nbrs
nbrs_books = users[nbrs['index']]

# Get columns cooresponding to books read by neighbors but not user
nbrs_books = nbrs_books[:,set_diff]

# Convert to dataframe for ease of computation
nbrs_books = pd.DataFrame.sparse.from_spmatrix(nbrs_books)
nbrs_books = nbrs_books.set_axis(set_diff,axis=1)
nbrs_books = nbrs_books.set_axis(np.array(nbrs['index']),axis=0)

In [11]:
# Calculate weighted adjusted averages
weighted_adj_averages = np.empty(len(set_diff))
i = 0
for book in set_diff:
    curr_ratings = pd.DataFrame(nbrs_books[book])
    curr_ratings = curr_ratings[curr_ratings[book] != 0]
    curr_ratings['sim'] = np.array(nbrs[nbrs['index'].isin(curr_ratings.index)].sim)
    tot_sim = sum(curr_ratings.sim)
    curr_average = 0
    for rating, sim in zip(curr_ratings[book], curr_ratings['sim']):
        #This was the formula we chose?
        curr_average = curr_average + (sim/tot_sim) * rating
    curr_average = curr_average - 1/len(curr_ratings.index)
    weighted_adj_averages[i] = curr_average
    i += 1

In [12]:
weighted_adj_averages

array([1.        , 1.        , 1.        , 2.        , 1.        ,
       3.        , 3.        , 2.        , 3.        , 3.        ,
       3.        , 3.01868276, 1.        , 1.99903698, 3.        ,
       4.        , 3.5       , 1.        , 2.        , 2.5       ,
       3.        , 3.        , 0.        , 2.        , 3.65518298,
       2.        , 2.        , 2.        , 4.        , 3.32941557,
       1.        , 2.        , 1.        , 4.        , 2.        ,
       3.        , 3.        , 3.        , 2.        , 3.01523151,
       2.        , 2.99789456, 2.        , 3.        , 2.        ,
       1.        , 2.66666667, 4.        , 1.        , 1.454196  ,
       2.90570473, 3.        , 1.69591462, 3.        , 0.        ,
       2.        , 2.        , 2.99653951, 3.        , 3.00145574,
       1.97913037, 2.        , 1.        , 3.        , 1.62702037,
       0.        , 1.        , 1.        , 1.        , 2.        ,
       2.        , 4.        , 1.        , 2.        , 2.        ,
       3.00011561, 2.50144566, 2.38549668, 3.00493178, 2.        ,
       2.5       , 2.58936349, 2.        , 2.        , 1.        ,
       2.9894736 , 3.        , 1.        , 2.01211258, 3.        ,
       3.        , 1.        , 4.        , 3.        , 3.        ,
       2.98820302, 1.        , 2.        , 3.        , 1.        ,
       2.5       , 3.        , 2.50677674, 2.        , 1.        ,
       3.08906954, 0.5       , 2.        , 0.        , 3.        ,
       0.        , 0.        , 3.        , 1.        , 4.        ,
       2.        , 2.10625109, 0.        , 0.        , 2.        ,
       1.        , 3.66513946, 1.        , 2.        , 1.        ,
       2.        , 1.        , 3.27624468, 2.        , 1.50664727,
       2.        , 3.        , 1.        , 3.        , 0.        ,
       2.        , 2.92140763, 3.        , 4.        , 0.99698498,
       0.        , 2.9931503 , 1.69482405, 3.16903201, 2.        ,
       0.        , 0.        , 2.        , 2.66571071, 4.        ,
       2.        , 2.        , 3.        , 2.        , 3.        ,
       2.        , 3.9971972 , 0.99997741, 2.        , 1.        ,
       1.        , 3.11485373, 4.        , 1.        , 4.        ,
       2.        , 2.        , 2.49259794, 3.5       , 0.        ,
       3.08578164, 2.00454472, 3.49871193, 1.24266392, 3.30780995,
       2.        , 0.        , 2.        , 2.        , 3.        ,
       1.        , 1.        , 0.        , 1.        , 0.        ,
       3.        , 2.5501536 , 2.225934  , 2.50176485, 2.        ,
       2.        , 2.35425152, 1.        ])